@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes flip {
  0% {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    perspective: 2000px;
    backface-visibility: hidden;
  }
  100% {
    transform: rotateY(0);
  }
}